@(title: String)(content: Html)(implicit messages: Messages, lang: Lang)

<!DOCTYPE html>
<html lang="en, ru">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>@messages("header")</h1>
      <div style="margin-bottom: 20px">
      <a href="@routes.HomeController.taskList" class="btn btn-info" role="button" style="position: relative;
      outline: none; width: 8%"><span style="position: absolute; top: 25%; left: 5%"
      class="glyphicon glyphicon-list"></span>@messages("taskList")</a>
      <a href="@routes.HomeController.taskNew" class="btn btn-info" role="button" style="position: relative;
      outline: none; width: 8%"><span style="position: absolute; top: 25%; left: 5%"
      class="glyphicon glyphicon-plus"></span>@messages("createTask")</a>
      </div>
      <div style="position: absolute;  width: 100%;">
      <a href="@routes.LanguageController.switchToLanguage("en")" role="button" class="btn btn-warning" style="position: relative;
        outline: none; width: 2%; padding: 0"><small>En</small></a>
      <a href="@routes.LanguageController.switchToLanguage("ru")" role="button" class="btn btn-warning" style="position: relative;
        outline: none; width: 2%; padding: 0"><small>Ru</small></a>
      </div>
    </div>
    <div class="container">@content</div>
  </body>
</html>
