@(task: Option[Task] = None, taskForm: Form[TaskForm])(implicit messages: Messages)

@import java.util.Date

@main("ToDo task list") {

  @if(task.isEmpty) {
    <script>
      $(function () {
        $(".field").prop("disabled", false);
        $("#reset, #confirm").show();
        $("#newtask").prop("action", "@routes.HomeController.taskPost");
        $("#creationDateBlock").hide();
      });
    </script>
  } else {
    <script>
      $(function () {
        $("#edit").show();
        $("#newtask").prop("action", "@routes.HomeController.taskEdit(task.map(_.id).get)");
      })
    </script>
  }

  <form id="newtask" method="post">
    <div class="form-group">
      <div id="creationDateBlock">
        <label for="creationDate">Creation Date:</label>
        <input name="creationDate" type="date" class="form-control field"
               value="@task.map(_.creationDate).getOrElse(new Date().format("yyyy-MM-dd"))" disabled>
      </div>
      <label for="expirationDate">Expiration Date:</label>
      <input name="expirationDate" type="date" class="form-control field"
             value="@task.map(_.expirationDate).getOrElse("")" disabled>
      <label for="assigner">Assigner:</label>
      <input name="assigner" type="text" class="form-control field" value="@task.map(_.assigner).getOrElse("")" disabled>
      <label for="executor">Executor:</label>
      <input name="executor" type="text" class="form-control field" value="@task.map(_.executor).getOrElse("")" disabled>
      <label for="label">Label:</label>
      <input name="label" type="text" class="form-control field" value="@task.map(_.label).getOrElse("")" disabled>
      <label for="task">Task:</label>
      <input name="task" type="text" class="form-control field" value="@task.map(_.task).getOrElse("")" disabled>
    </div>
    @*<button class="btn btn-default" type="submit" style="outline: none; width: 10%">Save &raquo;</button>*@
    <button id="edit" class="btn btn-info" type="button" role="button" style="outline: none; width: 10%; display: none">Edit</button>
    <button id="confirm" class="btn btn-success" type="submit" role="button" style="outline: none; width: 10%; display: none">Confirm</button>
    <button id="reset" class="btn btn-danger" type="reset" role="button" style="outline: none; width: 10%; display: none">Reset</button>
    <button id="cancel" class="btn btn-danger" type="reset" role="button" style="outline: none; width: 10%; display: none">Cancel</button>
    <script>
            $("#edit").click(function () {
              $(".field").prop("disabled", false);
              $("#edit").hide();
              $("#confirm").show();
              $("#cancel").show();
              $("#creationDateBlock").hide();
            });
            $("#cancel").click(function () {
              $(".field").prop("disabled", true);
              $("#cancel").hide();
              $("#confirm").hide();
              $("#edit").show();
              $("#creationDateBlock").show();
            });
    </script>
  </form>

@*      <!-- helper style -->

  @form(routes.HomeController.taskPost) {
    @inputText(taskForm("id"), '_label -> "Id", 'class -> "form-control", 'disabled -> true)
    @inputText(taskForm("label"), '_label -> "Label", 'class -> "form-control field", 'disabled -> true)
    @inputDate(taskForm("creationDate"), '_label -> "Creation Date", 'class -> "form-control field", 'disabled -> true)
    @inputDate(taskForm("expirationDate"), '_label -> "Expiration Date", 'class -> "form-control field", 'disabled -> true)
    @inputText(taskForm("assigner"), '_label -> "Assigner", 'class -> "form-control field", 'disabled -> true)
    @inputText(taskForm("executor"),  '_label -> "Executor",'class -> "form-control field", 'disabled -> true)
    @inputText(taskForm("task"), '_label -> "Task", 'class -> "form-control field", 'disabled -> true)
    <button class="btn btn-default" type="submit">Save &raquo;</button>
  }
*@

}
