@(task: Option[Task] = None, taskForm: Form[TaskForm])(implicit messages: Messages)

@import helper._

@main("ToDo task list") {

  @task.map { task =>
    <form>
      <div class="form-group">
        <label for="usr">Id:</label>
        <input type="text" class="form-control" value="@task.id" disabled>
        <label for="usr">Creation Date:</label>
        <input type="text" class="form-control field" value="@task.creationDate.format("dd/MM/yyyy")" disabled>
        <label for="usr">Expiration Date:</label>
        <input type="text" class="form-control field" value="@task.expirationDate.format("dd/MM/yyyy")" disabled>
        <label for="usr">Assigner:</label>
        <input type="text" class="form-control field" value="@task.assigner" disabled>
        <label for="usr">Executor:</label>
        <input type="text" class="form-control field" value="@task.executor" disabled>
        <label for="comment">Task:</label>
        <textarea class="form-control field" rows="5" disabled>@task.task</textarea>
      </div>
    </form>
  }
  <button id="enabler" class="btn btn-info" role="button" style="outline: none;
    width: 10%">Edit</button>
  <button id="cancel" class="btn btn-danger" role="button" style="outline: none;
    width: 10%;
    display: none">
    Cancel
  </button>
  <script>
          $("#enabler").click(function () {
            $(".field").prop("disabled", false);
            $("#enabler").removeClass("btn-info").addClass("btn-success").text("Confirm");
            $("#cancel").show();
          });
          $("#cancel").click(function () {
            $(".field").prop("disabled", true);
            $("#enabler").removeClass("btn-success").addClass("btn-info").text("Edit");
            $("#cancel").hide();
          });
  </script>
}