@(tasks: List[Task])(implicit messages: Messages, flash: Flash)

@import java.util.Date

@main(messages("titleList")) {

  @if(flash.data) {
    <script>
            $(document).ready(function () {
              $("#myModal").modal("show");
            });
    </script>
  }
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="position: absolute; top: 30%">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="text-align: center"><b>@messages("modalStatus")</b></h4>
        </div>
        <div class="modal-body">
          <h4 style="text-align: center">@flash.get("success")</h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal" role="button" style="position: relative;
            outline: none; width: 40%"><span class="btn-label" style="position: absolute; top: 20%; left: 5%">
            <i class="glyphicon glyphicon-ok"></i></span>OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div>
    <div class="well well-sm">
      <h2 style="text-align: center; ">@messages("taskListUpperCase")</h2>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr style="background-color: #EEEEEE">
          <th class="text-center" style="width: 3%">#</th>
          <th class="text-center">@messages("tableLabel")</th>
          <th class="text-center" style="width: 8%; padding-left: 0px; padding-right: 0px">@messages("tableStatus")</th>
          <th class="text-center" style="width: 10%; padding-left: 0px; padding-right: 0px">@messages("tableCreationDate")</th>
          <th class="text-center" style="width: 10%; padding-left: 0px; padding-right: 0px">@messages("tableExpirationDate")</th>
          <th class="text-center" style="width: 15%">@messages("tableAssigner")</th>
          <th class="text-center" style="width: 15%">@messages("tableExecutor")</th>
        </tr>
      </thead>
      <tbody class="text-center">
      @tasks.zipWithIndex.map { case (task, index) =>
      <tr>
        <td style="width: 3%; vertical-align: middle">@(index + 1)</td>
        <td style="vertical-align: middle">@task.label</td>
        @if(task.expirationDate before new Date()) {
          <td class="danger" style="vertical-align: middle">@messages("tableExpired")</td>
        } else {
          <td class="success" style="vertical-align: middle">@messages("tableInProcess")</td>
        }
        <td style="vertical-align: middle">@task.creationDate.format("dd/MM/yyyy")</td>
        <td style="vertical-align: middle">@task.expirationDate.format("dd/MM/yyyy")</td>
        <td style="vertical-align: middle">@task.assigner</td>
        <td style="vertical-align: middle">@task.executor</td>
        <td style="background-color: white; border-color: white; width: 4%; padding-top: 0px; padding-bottom: 0px;
          padding-right: 0px; vertical-align: middle"><a href="@routes.HomeController.taskDetails(task.id)"
          class="btn btn-info" role="button" style="outline: none; padding-top: 3px; padding-bottom: 3px; width: 100%">
          <span class="glyphicon glyphicon-search"></span></a>
        </td>
      </tr>
      }
      </tbody>
    </table>
  </div>

}